<h2>Top 5 </h2>
<div fxLayout="row" class="row">
    <div fxFlex="20%" *ngFor = "let movie of topFiveMovies">
    <mat-card class="fullPictureCard" >
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <img mat-card-image src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" >
            </mat-expansion-panel-header>
            <p>
                {{movie.overview}}
            </p>
        <mat-card-actions>
            <button mat-button>Movie Page </button>
            <button mat-button>Share </button>
        </mat-card-actions>
        </mat-expansion-panel>
    </mat-card>
    </div>
</div>
